* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto";
}

#taList {
	resize: none;
	width: 100%;
	min-height: 100px;
	background-color: red;
}

body {
	display: flex;
	flex: 1;
	flex-direction: row;
}

#about-container {
	flex: 1;
	padding: 2rem 4rem;
}

#about-container p {
	font-size: 1.2rem;
	margin-bottom: 1rem;
}

#brand {
	display: flex;
	align-items: center;
	font-size: 1rem;
	margin-bottom: 1rem;

}

#brand h1 {
	font-size: 1.4rem;
	margin-left: 30px;

}

#brand img {
	height: 50px;
	margin-right: 0.6;
}

#intro {
	max-width: 500px;
	margin-bottom: 1rem;
	line-height: 1.4rem;
}

#user-container {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.user-card {
	border: 2px solid #ccc;
	padding: 1rem;
	width: 180px;
	text-align: center;
	overflow: hidden;
	bottom: 2rem;
}

.user-img {
	border-radius: 50%;
	width: 120px;
	height: 120px;
	margin-bottom: 1rem;
	border-radius: 50%;
	overflow: hidden;
}

.user-card img {
	width: 100%;
	margin: auto;
}

.user-card .user-name {
	font-weight: bold;
	margin-bottom: 0.6rem;
}

#background {
	width: 500px;
	height: 500px;
	margin: auto;
	padding: 2rem 4rem;
	flex: 1;
}

#side-container {
	flex: 0.7;
	margin: 3rem;
	border: 2px solid #fff;
	padding: 3rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#side-container h3 {
	font-size: 2rem;
	margin-bottom: 1rem;
	margin-right: 30rem;
}

.board-table {
	width: 400px;
	height: 400px;
	margin-right: 15rem;
	border-collapse: collapse;
	border: 5px solid black;
}

.board-table td {
	border: 1px solid black;

	width: calc(100%/9);
	height: calc(100%/9);
	color: black;
	text-align: center;
	margin: auto;
	position: relative;

}

td input {
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: larger;
}

.sidenav {
	height: 100%;
	width: 200px;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #111;
	overflow-x: hidden;
	color: white;
}

.sidenav-item {
	color: white;
	padding: 16px;
	text-decoration: none;
	display: block;
}

.sidenav input {
	background-color: #555;
	color: #111;
}


.sidenav .sidenav-item:hover {
	background-color: #555;
	color: #111;
}
.sidenav label {
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding: 1rem;
	text-align: left;
	font-size: 1rem;

}
.linha {
	position: absolute;
	display: none;
	height: 2px;
	z-index: 1;
	background-color: blue;
	transform-origin: left;
}

#inputFile {
	display: none;
}

.vert-border {
	border-top: 5px solid black;
}

.hori-border {
	border-right: 5px solid black;
}

#iFile {
	display: none;
}


.about-project {
	padding-top: 630px;
	margin: 4rem;
	position: absolute;
	flex: block;
	flex-direction: column;
	flex: 1.6;
	padding-left: 1rem;
	padding-bottom: 5rem;

}
#description {
	flex-wrap: wrap;
	flex-direction: column;
}

.about-project h4 {
	font-size: 1.6rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.about-project p {
	text-indent: 1.5em;
	text-align: auto;
	font-size: 1.2rem;
	width: 800px;
}

#sudoku-img {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;
	align-items: center;
	
}

.figura-sudoku {
	text-align: center;
}
.figura-sudoku img {
	width: 180px;
	height: 180px;
}
#img1 {
	width: 190px;
	height: 190px;
}
#sudoku figcaption {
	font-weight: bold;
	margin-bottom: 0.6rem;
	font-size: 0.9rem;
}
#desc1 {
	padding-top: 10px;
}

#figura-sudoku {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;
	align-items: center;
}
#figura-sudoku img {
	width: 180px;
	height: 180px;
}

